.topbar {
    
    background-color:#f6f8fb;
    padding:0;
    height:60px;
}

.btn_bar{
    position:abosulute;
    top:20px;
}

.top_btn{
    height:40px;
}


.page1{
    position:relative;
    left:40%;
}

.page2{
    position:relative;
    left:20%;
}


.prev_btn
{
    float: left;
}

.next_btn
{
    float: right;
}


table
{
    width:100%;
}

.table tfoot tr th.vertical-mid {
    vertical-align: middle;
}

.vertical-mid {
    vertical-align: middle;
}

.progress{
    width:100%;
    border:1;
}

.panel-heading{
    background-color:#5ba498;
}

.panel-footer{
    background-color:#5ba498;
}

.panel-body{
    background-color:#f6f8fb;
    /*padding: 1;*/
}

.event{
    background-color:#9bcdc5;
    width:100%;
    border:1;
}

.time{
    size:5;
    margin:20px;
}

.eventList{
    
}

.cancel-btn{
    background-color:#df5362;
    width:fixed;
}



.save-btn{
    background-color:#9bcb68;
    width:fixed;
}


.form-control description{
    height:200px;
}

