<div class="topbar">
<!--<div class="panel panel-default">
    <div class="panel-heading">-->
    <div class="btn_bar">
        <div align="center">
            <a class="btn" ng-click="login=true;login()"><img ng-hide="login" src="icon/login_btn.gif"></img><img ng-show="login" class="top_btn" src="icon/login.gif"/>
            <!--<span>-->
                <!--<div class="username">-->
                    <h5 ng-show="login">{{user.account}}</h5>
                <!--</div>-->
            <!--</span>-->
            </a>
            <a class="btn" ng-click="save=true; save()"><img ng-hide="save" src="icon/save_btn.gif"/><img ng-show="save" src="icon/saved.gif"></img></a>
            <a class="btn" ng-click="synchronize=true; synchronize()"><img ng-hide="synchronize" src="icon/synchronize_btn.gif"/><img ng-show="synchronize" src="icon/synchronized.gif"></img></a>
        </div>
    </div>
    <!--</div>
</div>-->
</div>

<br/>

<div class="col-md-6">
    <div class="col-md-8" align="center">
        <div class="page1">
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-chevron-left prev_btn" aria-hidden="true" ng-click="changeDate(0)"></span>
            <span>&nbsp;</span>
            <span align="center">{{dateDisplay()}}</span>
            <span>&nbsp;</span>
            <span class="glyphicon glyphicon-chevron-right next_btn" aria-hidden="true" ng-click="changeDate(1)"></span>
        </div>   
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <table>
                        <tr><td>Start time: <input type="text" maxlength="5" style="max-width:50px; text-align:center" ng-model="startTime" ng-blur="setStart()"></td></tr>
                        <tr><td>End time: {{endTime()}}</td></tr>
                        <tr><td>Total length: {{totalLength()}} min</td></tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="progress">                       
                        <tr ng-repeat="event_p in activities_P">
                            <td bgcolor="#9bcdc5">&nbsp;</td>                            
                        </tr> 
                        <tr ng-repeat="event_B in activities_D">
                            <td bgcolor="#a0c25f">&nbsp;</td>                            
                        </tr> 
                        <tr ng-repeat="event_G in activities_G">
                            <td bgcolor="#e98665">&nbsp;</td>                            
                        </tr> 
                        <tr ng-repeat="event_D in activities_B">
                            <td bgcolor="#f6e66e">&nbsp;</td>                            
                        </tr>                        
                    </table>
                </div>
            </div>
            
            <hr>
            
            <div id="eventOrder">
            <table class="eventList" ng-repeat="event in activities">
                <tr ng-click="editActivity($index, 1)" draggable="true">
                    <td>{{getActivityTime($index)}}</td>
                    <td bgcolor="{{event.getColor(event.getTypeId())}}">{{event.getName()}}</td>
                    <td><button class="glyphicon glyphicon-remove" style="float:right" ng-click="removeActivity($index)"></td>
                </tr> 
                <tr >
                    <td >&nbsp;</td>                   
                </tr>                                           
            </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="col-md-6">
    <div class="col-md-8" align="center">
        <div class="page2">
    <div class="panel">
        <div class="panel-heading">
            <div ng-click="addActi=true" class="row" align="center">{{modeTitle}}</div>
        </div>
        <div class="panel-body">
            <div id="input_page" ng-show="addActi">
                <br/><input id="nameInput" type="text" class="form-control" placeholder="Name" maxlength="50" ng-model="name"><br/>
                <br/>
                <div class="input-group">
                    <input id="lengthInput" class="form-control" placeholder="Length (1-999)" onkeyup="value=value.replace(/\D|^0/g,'')" onpaste="return false;" maxlength="3" align="center" ng-model="duration">
                    <span class="input-group-addon"> min</span>
                </div>
                <br/><br/>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="type" readonly="readonly"/>
                    <span class="input-group-btn">
                        <button id="eventType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a class="event-type" ng-click="setType('Type: Presentation')">Presentation</a></li>
                                <li><a class="event-type" ng-click="setType('Type: Discussion')">Discussion</a></li>
                                <li><a class="event-type" ng-click="setType('Type: Group Work')">Group Work</a></li>
                                <li><a class="event-type" ng-click="setType('Type: Break')">Break</a></li>
                            </ul>
                    </span>
                </div>
                <br/>
                <br/>               
                <input type="text" placeholder="Description (optional)" ng-model="description" maxlength="150" class="form-control description"/><br/>

                <br>

                <table>
                    <tr>
                        <td class="cancel"><button ng-click="btnCancel()" class="cancel-btn">Cancel</button></td>
                        <td class="save"><button ng-click="btnSave()" class="save-btn">Save</button></td>
                    </tr>
                </table>
            </div>  
            
            <div id="event_list" ng-hide="addActi">
                <table class="eventList" ng-repeat="parkedActivity in parkedActivities">
                    <tr ng-click="moveParkedToDay(parkedActivity,$index)" draggable="true">
                        <td>{{parkedActivity.getLength()}} min</td>
                        <td bgcolor="{{parkedActivity.getColor(parkedActivity.getTypeId())}}">{{parkedActivity.getName()}}</td>
                        <td><button class="glyphicon glyphicon-remove" style="float:right" ng-click="removeParkedActivity($index)"></td>
                    </tr> 
                    <tr >
                        <td >&nbsp;</td>                   
                    </tr>                                  
                </table>
            </div>
                                 
        </div>
        
    </div>
    </div>
    </div>
</div>
