<div class="topbar">
<div class="panel panel-default">
    <div class="panel-heading">
        <div align="center">
            <button class="btn" ng-click="log in"><img src="icon/login.gif"></img></button>
            <button class="btn" ng-click="save"><img src="icon/save.gif"></img></button>
            <button class="btn" ng-click="synchronize"><img src="icon/push.gif"></img></button>
        </div>
    </div>
</div>
</div>

<div class="col-md-5">
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-chevron-left prev_btn" aria-hidden="true"></span>
            <span>&nbsp;</span>
            <span align="center">{{avtivity.date}}</span>
            <span>&nbsp;</span>
            <span class="glyphicon glyphicon-chevron-right next_btn" aria-hidden="true"></span>
        </div>   
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <table>
                        <tr><td>Start time: {{activity.start_time}}</td></tr>
                        <tr><td>End time: {{activity.end_time}}</td></tr>
                        <tr><td>Total length: {{activity.total_len}} min</td></tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="progress">
                        <tr ng-repeat="event in activity">
                            <td>&nbsp;</td>
                        </tr>                           
                    </table>
                </div>
            </div>
            
            <hr>
            
            <div id="eventOrder">
            <table class="eventList">
                <div><tr ng-repeat="event in activity">
                    <div><td>{{event.time}}</td></div>
                    <div style="background:{{activity.type}}"><td draggable="true">{{event.topic}}</td></div>
                </div></tr>                
            </table>
            </div>
            
        </div>
    </div>
</div>

<div class="col-md-5">
    <div class="panel" id="addActivity">
        <div class="panel-heading">
            <div class="row" align="center" style="background:5ba498"; color:#FFF><button type="button" class="btn btn-link" style="text-decoration:none">+ Add activity</button></font></div>
        </div>
        <div class="panel-body">
            <div>
                <br/><input type="text" class="form-control" placeholder="Name"><br/>
                <br/>
                <div class="input-group">
                    <input class="form-control" placeholder="Length" align="center">
                    <span class="input-group-addon"> min</span>
                </div>            
                <br/><br/>
                <div class="input-group">
                    <input placeholder="Type" class="form-control" type="text">
                    <span class="input-group-btn">
                        <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="activity-type" >Presentation</a></li>
                            <li><a class="activity-type" >Discussion</a></li>
                            <li><a class="activity-type" >Group Work</a></li>
                            <li><a class="dish-type" >Break</a></li>
                        </ul>-->
                        <button id="eventType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a class="event-type" >Presentation</a></li>
                                <li><a class="event-type" >Discussion</a></li>
                                <li><a class="event-type" >Group Work</a></li>
                                <li><a class="event-type" >Break</a></li>
                            </ul>
                    </span>
                </div>
                <br/>
                <br/>               
                <input placeholder="Description" class="form-control description"><br/>
                                
            </div>
            <br/>
            <div align="center">
                <button class="cancel-btn">cancel</button>
                <button class="save-btn">save</button>
            </div>               
        </div>
    </div>
    
    <!--<div class="panel" id="activityList">
    	<div class="panel-heading">
            <div class="row" align="center" style="background:5ba498"; color:#FFF>+ Add activity</font></div>
        </div>
        <div class="panel-body">
        	<div id="activities">
            <table class="eventList">
                <div><tr ng-repeat="event in activity">
                    <div><td>{{activity.total_len}} min</td></div>
                    <div style="background:{{activity.type}}"><td draggable="true">{{event.topic}}</td></div>
                </div></tr>                
            </table>
            </div>	        
        </div>
    </div>-->
    
</div>
