<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
 
	<div id="loginBfSynch" class="newPush"> 
		<div><p>To synchronize the latest changes, please input your e-mail address and password.</p></div> 
        <div id="loginInfo">
        	<br><input type="text" class="input-control" placeholder="Email"><br>
            <br><input type="password" class="input-control" placeholder="Password"><br>
            <div align="center">
                <button class="cancel-btn">cancel</button>
                <button class="save-btn">save</button>
            </div>
         </div>             
	</div>
    
    <div id="loginBfSave" align="center">
    	<div class="alarm">Login before saving.</div>
        <div><img src="icon/log.gif"></img></div>
        <div><p>Before saving your content, please log in your google account</p></div>
        <div><button class="alarm">OK</button></div>
    </div>
    
    <div id="saveFailure" align="center">
    	<div class="alarm">Opps!Saving fails.</div>
        <div><img src="icon/network connection.gif"></img></div>
        <div><p>There is something wrong with the Internet connection. Please check it again.</p></div>
        <div><button class="alarm">OK</button></div>
    </div>  

	<div id="delete" align="center">
    	<div class="alarm">Delete?</div>
        <div><img src="icon/delete.gif"></img></div>
        <div><p>Dragging items out of the parking lot means deleting it. Are you sure to delete it?</p></div>
        <div><button class="alarm">Cancel</button><button class="alarm">Delete</button></div>
    </div>

    <div id="networkFailure" align="center">
    	<div class="alarm">Poor network</div>
        <div><img src="icon/poor network.gif"></img></div>
        <div><p>Poor network, but we are trying to fix it. Please wait for a moment.</p></div>
    </div>    

</body>
</html>
